
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
  width: 100vw;
  height: 150vh;
  display: flex;
  font-family: "Neucha", cursive;
  font-style: normal;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(126, 30, 30),rgb(45, 14, 14));
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  z-index: 1;
  text-align: center;
  color: white;
}

@media (max-width: 800px) {
  .heading{
    margin: 15px o;
    font-size: 35px;
  }  
}
